:root {
  --main-font: "Poppins", sans-serif;
  --facebook-dark-main: #4267b2;
  --facebook-dark-active: #1d4698;
  --threeD1: orangered;
  --threeD2: #ecd300;
}

html {
  font-size: 10px;
}
body {
  font-family: var(--main-font);
  text-align: center;
}

button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  outline: none;
}

/* ===================
 FACEBOOK BUTTONS 
 =====================*/

.facebook-style-btn {
  border-radius: 2px;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 5px 10px;
  cursor: pointer;
}

.facebook-style-dark {
  background: var(--facebook-dark-main);
  border: 1px solid var(--facebook-dark-main);
  color: white;
  text-shadow: 0 1px 0px #3359a5;
}

.facebook-style-dark:active {
  background: var(--facebook-dark-active);
  border-color: var(--facebook-dark-active);
}

.facebook-style-dark:hover {
  background: #2b54a7;
}

.facebook-style-dark:focus {
  border-color: var(--facebook-dark-active);
}

.facebook-style-light {
  background: #f6f7f9;
  border: 1px solid #ced0d4;
  border-radius: 2px;
  color: #4b4f56;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 6px 12px;
}

.facebook-style-light:active {
  background: #d8dade;
  border-color: #d8dade;
}

.facebook-style-light:hover {
  background: #e9ebee;
}
/* ===================
 3D BUTTONS 
 =====================*/

/* 3D BUTTON 1 */

.btn-3d-1 {
  background: var(--threeD1);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 10px 20px;
  font-weight: bold;
  box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
  position: relative;
}

.btn-3d-1:hover {
  background: hsl(16, 100%, 45%);
}

.btn-3d-1:active {
  background: hsl(16, 100%, 40%);
  left: -3px;
  top: 3px;
  box-shadow: -3px 3px hsl(16, 100%, 30%);
}

.btn-3d-1::before {
  position: absolute;
  display: block;
  content: "";
  height: 0;
  width: 0;
  border: solid 6px transparent;
  border-right: solid 6px hsl(16, 100%, 30%);
  border-left-width: 0px;
  background: none;
  top: 0px;
  left: -6px;
}

.btn-3d-1::after {
  position: absolute;
  display: block;
  content: "";
  height: 0;
  width: 0;
  border: solid 6px transparent;
  border-top: solid 6px hsl(16, 100%, 30%);
  border-bottom-width: 0px;
  background: none;
  right: 0;
  bottom: -6px;
}

.btn-3d-1:active::before {
  border: solid 3px transparent;
  border-right: solid 3px hsl(16, 100%, 30%);
  border-left-width: 0px;
  left: -3px;
}

.btn-3d-1:active::after {
  border: solid 3px transparent;
  border-top: solid 3px hsl(16, 100%, 30%);
  border-bottom-width: 0px;
  bottom: -3px;
}

/* 3D BUTTON 2 */

.btn-3d-2 {
  background: var(--threeD2);
  background: radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
  border: 1px solid hsl(54, 100%, 20%);
  border-radius: 100%;
  width: 120px;
  height: 120px;
  color: #fff;
  font-size: 2.3rem;
  font-weight: bold;
  padding: 10px 20px;
  position: relative;
  text-shadow: 0 -1px 0 #c3af07;

  box-shadow: inset 0 1px 0 hsl(54, 100%, 50%), 0 2px 0 hsl(54, 100%, 20%),
    0 3px 0 hsl(54, 100%, 18%), 0 4px 0 hsl(54, 100%, 16%),
    0 5px 0 hsl(54, 100%, 14%), 0 6px 0 hsl(54, 100%, 12%),
    0 7px 0 hsl(54, 100%, 10%), 0 8px 0 hsl(54, 100%, 8%),
    0 9px 0 hsl(54, 100%, 6%);
}

.btn-3d-2:hover {
  background: var(--threeD2);
  background: radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
}

.btn-3d-2:active {
  background: var(--threeD2);
  background: radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
  top: 2px;
  box-shadow: inset 0 1px 0 hsl(54, 100%, 50%), 0 2px 0 hsl(54, 100%, 20%),
    0 3px 0 hsl(54, 100%, 18%), 0 4px 0 hsl(54, 100%, 16%),
    0 5px 0 hsl(54, 100%, 14%), 0 6px 0 hsl(54, 100%, 12%),
    0 7px 0 hsl(54, 100%, 10%);
}

/* ===================
 GRADIENT BUTTONS 
 =====================*/

/* GRADIENT BUTTON 1 */
.gradient-button-1 {
  color: orange;
}
